@font-face {
  font-family: 'Your Doodle Font', 'YourDoodleFont';
  font-style: normal;
  src: local('Your Doodle Font'), local('YourDoodleFont'),
       url('./fonts/Your-Doodle-Font.ttf') format('truetype');
}
