/* Fonts must be loaded through vanilla CSS. I don't think Parcel
 * knows how to bundle fonts through Emotion's `css` module.
 */

@font-face {
  font-family: 'Your Doodle Font';
  font-style: normal;
  src: local('Your Doodle Font'), local('YourDoodleFont'),
       url('./fonts/your-doodle-font.regular.woff2') format('woff2'),
       url('./fonts/your-doodle-font.regular.woff')  format('woff'),
       url('./fonts/your-doodle-font.regular.ttf')   format('truetype'),
       url('./fonts/your-doodle-font.regular.otf')   format('opentype');
}
